body {
    font-family: 'Oswald', sans-serif;
}
.name-highlight {
    color: rgb(238, 109, 109);
}
.sunny-4 {
    width: 40%;
    float: left;
}
.sunny-4 img {
    width: 100%;
}
.welcome {
    width: 40%;
    float: left;  
}
ection {
    background-color: #fafafa;
    height: 62px;
}

.About {
   
    width: 100px;
    text-align: center;
    float: left;
    margin-left: 900px;
    font-size: 12px;
}
  .work {
   
    width: 100px;
    text-align: center;
    float: left;
    font-size: 12px;
  }
.Protfolio {
    
    width: 100px;
    text-align: center;
    float: left;
    font-size: 12px;
}
.Contact {
    
    width: 100px;
    text-align: center;
    float: left;
    font-size: 12px;
}
