body {
    font-family: 'Oswald', sans-serif;
}
.name-highlight {
    color: rgb(238, 109, 109);
}
.sunny-4 {
    width: 40%;
    float: left;
}
.sunny-4 img {
    width: 100%;
}
.welcome {
    width: 40%;
    float: left;  
}
section {
    border: 1px;solid
}